.japan {
  width: 100px;
  height: 100px;
  border: 2px solid lightgray;
  padding: 50px 100px 50px 100px;
}

.japan::after {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  border: none;
  }